@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: center;
  grid-row-start: 2;
}

.page-container {
  width: 80%;
  margin: 0 auto;
}

.page-content {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 25px;
}

.page-content > h1 {
  margin: 10px auto;
}

.page-content > p {
  text-wrap: balance;
}

.intro {
  width: 50%;
  margin: 0 auto 10px auto;
  grid-row-start: 2;
}

.wrapper {
  position: absolute;
  display: flex;
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-js {
  color: #f0db4f;
}

.fa-react {
  color: #61dafb;
}

.fa-bootstrap {
  color: #563d7c;
}

.fa-node {
  color: #3c873a;
}

.fa-npm {
  color: #cc3534;
}

.fa-github {
  color: #171515;
}

.image {
  font-size: 2rem;
  margin: 0 10px;
  animation: spin var(--speed) linear infinite alternate-reverse;
  filter: drop-shadow(0 0 0.75rem crimson);
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

section {
  display: flex;
  animation: swipe var(--speed) linear infinite alternate-reverse;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(150deg);
  }
}

@keyframes swipe {
  0% {
    transform: translate(15%);
  }

  100% {
    transform: translate(-10%);
  }
}
